@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-config {
    font-family: 'Amiko', sans-serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

header{
    background-color: #040a0a69;
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    grid-area: header;
}


.logo a{
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    color: aliceblue;
    margin: 10px;
}

.logo a span{
    font-family: 'Amiko', sans-serif;
    font-size: 0.7em;
    margin: 10px 0px 10px 30px;
}

.navbar-light .navbar-nav .nav-link.active{
    color: aliceblue;
    font-size: 1.3em;
    margin: 10px;
}

/**--MAIN--**/

main{
    grid-area: main;
}

.hero {
    margin-bottom: 20px;
}

/**-- INICIO SECTION CABAÑAS --**/

.cabanias h2{
    color: #e7f6f2;
    background-color: #2c3333;
    text-align: center;
    font-size: 2em;
    width: calc(100% - 5em);
    height: 80px;
    padding: 28px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cabanias-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cabanias-caja {
    width: 45%;
    height: 600px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #e7f6f2;
    color: #2c3333;
}

.cabanias-imagen {
    width: 350px;
    height: 250px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.cabanias-titulo {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0px 30px 5px 30px;
    border-bottom: solid 1px #2c3333;
}

.cabanias-descripcion {
    font-size: 1em;
    text-align: justify;
    padding: 10px;
}

.cabanias-video {
    text-decoration: none;
    font-size: 1em;
    color: #2c3333;
    background-color: #a5c9ca;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    margin: 10px;
}

.cabanias-boton {
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    background-color: #395b64;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
}

/**-- FIN SECTION CABAÑAS --**/

/**-- INICIO SECTION EXPERIENCIAS --**/

.experiencias h2{
    color: #ededed;
    background-color: #171717;
    text-align: center;
    font-size: 2em;
    width: calc(100% - 5em);
    height: 80px;
    padding: 28px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.experiencias-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.experiencias-caja {
    width: 100%;
    height: 400px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #ededed;
    color: #171717;
}

.experiencias-imagen {
    width: 350px;
    height: 250px;
    border-radius: 30px;
}

.experiencias-titulo {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0px 30px 5px 30px;
    border-bottom: solid 1px #171717;
}

.experiencias-descripcion {
    font-size: 1em;
    text-align: justify;
    padding: 10px;
    margin-bottom: 40px;
}

.experiencias-boton {
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    background-color: #444444;
    border-radius: 30px;
    padding: 20px 40px 20px 40px;
    margin: 10px;
}


/**--INICIO RESERVAS --**/


.main-reservas{
    background-image: url(https://images.pexels.com/photos/13569600/pexels-photo-13569600.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #17171713;
}

.section-reservas{
    height: 140vh;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    justify-content: space-evenly;
}

.container-reservas{
    background-color: #e7f6f2ce;
    color: #171717;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-reservas h2{
    text-align: center;
    font-size: 2em;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.btn-seleccion, .btn-reservar {
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    background-color: #395b64;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
}

.reservas-formulario{
    display: none;
}

.reservas-formulario.activo{
    display: block;
    width: 60%;
}

.reservas-formulario div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#check-out{
    margin-bottom: 20px;
}

#exp-date{
    margin-bottom:  30px;
}

.container-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#container-precios{
    width: 100%;
    height: 300px;
    background-color: #e7f6f2ce;
    color: #171717;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 20px;
}

span{
    font-size: 2em;
    font-weight: bold;
}

/**--FIN RESERVAS--**/

/**--INICIO CONTACTO--**/


.contacto h2{
    color: #f0f1ab;
    background-color: #5556a6;
    text-align: center;
    font-size: 2em;
    width: calc(100% - 5em);
    height: 80px;
    padding: 28px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contacto-contenedor {
    width: calc(100% - 20px);
}

.contacto-caja {
    background-color: #d2d395;
    color: #171717;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto-contenedor div:not(:last-child){
    width: 40%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#message{
    height: 300px;
}

#btn-borrar{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #171717;
    border: solid 2px #7ea6b6;
    background-color: #a7cbd9;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

#btn-enviar{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #171717;
    border: solid 2px #69799b;
    background-color: #7e93be;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

#recaptcha > div {
    margin: 0 auto .5em;
}

/**--FIN CONTACTO--**/

/**--INICIO FOOTER--**/

footer{
    width: 100%;
    background: rgb(29,43,100);
    background: linear-gradient(90deg, rgba(29,43,100,1) 0%, rgba(248,205,218,1) 100%);
    grid-area: footer;
}

footer div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.logo-footer a{
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    color: aliceblue;
    margin: 10px;
}

.container-contacto{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.container-contacto div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-contacto img{
    width: 40px;
    height: 40px;
}

.container-contacto p{
    color: black;
    font-weight: bold;
}

.container-FAQ{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-FAQ a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container-FAQ a:hover{
    text-decoration: underline;
}